@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&family=Josefin+Sans:ital,wght@0,300;0,400;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 65%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

a{
    all: unset;
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #6cace1, #6752de, #6fcaec, #11866a);
    background-size: 400% 400%;
    animation: 15s ease infinite;
}

.profile-card{
    width: 27.3rem;
    margin: 1rem;
}

/* heading */

.profile-card_foto{
    width: 27.3rem;
    border-radius: 10px 10px 0px 0px;
    display: block;
}

.profile-card_body{
    background-color: rgb(126, 150, 195);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 35px 0px 35px;
}

.profile-card_heading * + * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}


.h1{
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
}

.h2{
    font-weight: 500;
    font-size: 1.64rem;
}

.profile-card_btn_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-card_btn{
    min-width: 9.5rem;
    height: 3.4rem;
    cursor: pointer;
}

.fa-regular{
    margin-right: 0.5rem;
    font-size: 1.4rem;
}

.fa-brands{
    margin-right: 0.5rem;
    font-size: 1.4rem;
}

.profile-card_btn_email{
    background: #ffffff;
    border: 1px solid #d1d5db;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.profile-card_btn_email:hover {
    transform: scale(0.9); /* Butonu 0.9 oranında küçültün */
  }

.profile-card_btn_linkedin{
    background-color: #5093e2;
    color: #ffffff;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.profile-card_btn_linkedin:hover{
    transform: scale(0.9);
}

.profile-card_text_wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-card_heading_text{
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-card_heading_A{
    color: rgb(39, 28, 105);
    font-size: 1.35rem;
}

.profile-card_heading_text{
    color: #06284f;
    font-size: 1.1rem;
}

/* footer */


.profile-card_footer{
    height: 4.5rem;
    background-color: rgb(126, 150, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 6px 6px;
}

.profile-card_footer_icon{
    background-color: #8aa7c8;
    font-size: 2.5rem;
    margin-right: 15px;
    padding: 0.4rem;
    cursor: pointer;
    border-radius: 5px;
}

.profile-card:last-of-type{
    margin-right: 0px;
}